h1.title{
	padding-left: 480px;
	padding-top: 50px;
	font-size: 40px;
}

p.mvp{
	padding-left: 250px;
	font-size: 30px;
	padding-top: 10px;
}

p.fake{
	padding-left: 225px;
	font-size: 30px;
}

body{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background: rgb(179,246,186);
background: linear-gradient(90deg, rgba(179,246,186,1) 0%, rgba(98,255,47,1) 49%, rgba(94,253,55,1) 49%, rgba(0,212,255,1) 100%);
}

form.connexion{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white
}

